@model IEnumerable<WorkItem>

<nav class="navbar navbar-expand-lg navbar-light border-bottom border-dark">
    <div id="toolbar" class="container-fluid">
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#toolbar" aria-controls="toolbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse justify-content-start">
            <ul class="navbar-nav flex-grow-1">
                @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                {
                    <li class="nav-item nav-item-hover dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdownMenuButton" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            <i class="bi bi-plus-lg"></i>
                            Add new
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li>
                                <a class="dropdown-item d-flex justify-content-md-between" asp-action="Details" asp-route-discriminator="Task">
                                    Task
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex justify-content-md-between" asp-action="Details" asp-route-discriminator="Issue">
                                    Issue
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex justify-content-md-between" asp-action="Details" asp-route-discriminator="Epic">
                                    Epic
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                <li class="nav-item mx-2">
                    <input type="search" id="searchQuery" class="form-control" placeholder="Search..." aria-label="Search" />
                </li>
            </ul>
        </div>
    </div>
</nav>

@if (!Model.Any())
{
    <h3>There are no work items to show.</h3>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Type</th>
                <th scope="col">Priority</th>
                <th scope="col">State</th>
                <th scope="col">Project</th>
                <th scope="col">Responsible</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>
                        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                        {
                            <a asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
                        }
                        else
                        {
                            @item.Title
                        }
                    </td>
                    <td>@item.Discriminator</td>
                    <td>@item.Priority</td>
                    <td>@(item.State?.Name ?? "Unasigned")</td>
                    <td>@(item.Project?.Name ?? "Unasigned")</td>
                    <td>
                        @if (item.User != null)
                        {
                            @($"{item.User.Forename} {item.User.Surname}")
                        }
                        else
                        {
                            <span>Unassigned</span>
                        }
                    </td>
                    <td>
                        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                        {
                            <a id="contextMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="contextMenu">
                                <li>
                                    <!-- MODAL TRIGGER -->
                                    <a href="#" class="dropdown-item d-flex justify-content-md-between" data-bs-toggle="modal" data-bs-target="#deleteModal@(item.Id)">Delete</a>
                                </li>
                            </ul>
                            <!-- MODAL -->
                            <div class="modal fade" id="deleteModal@(item.Id)" tabindex="-1" aria-labelledby="deleteModal@(item.Id)Label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">@item.Title</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this @($"{item.Discriminator}")?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <form method="post" asp-action="Delete" asp-route-id="@item.Id">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}